# Python
venv/
__pycache__/
*.pyc
*.pyo

# Django
db.sqlite3
media/
staticfiles/

# Environment variables
.env

# Node / Tailwind
node_modules/
theme/static/css/dist/

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log